@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2? family= Baloo+Da+2 & family= Josefin+Slab:wght@300;600 & family= Mulish:wght@500 & display= troca');
*{
    margin: 0;
    padding: 0;
}
body{
    font-size: 16px;
}
header{
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.img-wrapper{
    width: 100%;
    height: 100%;
    overflow: hidden;
    
}
.img-wrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
    animation: zoom 25s;
}
@keyframes zoom {
    0%{
        transform: scale(1.3);
    }
    100%{
        transform: scale(1);
    }
}
.banner{
    position: absolute;
    top: 30%;
    left: 10%;   
}
.banner h1{
    color: rgb(43, 41, 41);
    font-size: 4rem;
    font-family: "Baloo Da 2", serif;
    font-weight: 300;
    text-shadow: .3rem .1rem .1px rgba(252, 148, 12, 0.356);
    line-height: 3.5rem;
    opacity: 0;
    animation: moveBanner 1s 0.5 forwards;
}
@keyframes moveBanner{
    0%{
        transform: translateY(10rem) rotateY(-30deg);
    }
    100%{
        transform: translateY(0) rotateY(0);
        opacity:1;
    }
}
.banner p{
    color: rgb(201, 157, 243);
    text-shadow: .1rem .1rem  rgb(0, 0, 0);
    font-size: 3rem;
    margin-top: 4%;
    margin-left: 5%;
    margin-bottom: 4%;
    font-family: "Josefin Slab" serif;
    font-weight: 300;
    opacity: 0;
    animation: moveBanner 2s 0.7 forwards;
}
.banner button{
    font-family: "Muli", serif;
    font-size: 1rem;
    letter-spacing: 1px;
    text-transform: capitalize;
    color: rgba(0, 0, 0, 6 );
    background: #ef32d9;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #89fffd, #ef32d9);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #e389ff, #ffb46e); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    padding: .1rem 2rem;
    border: none;
    border-radius: 10px;
    cursor:pointer;
    opacity: 0;
    animation: moveBanner 3s 0.9 forwards;
}
.banner button:hover{
    color: white;
}